<div class="navbar_div">
    <div class="logo_div">
        LOOKING <span class="logo_for_span">FOR</span>
    </div>
    <div class="nav">
        <span class=""><a href="/homes/index">Home</a></span>
        <span class="jobs_span"><a href="">Jobs</a></span>
        <span class="companies_span"><a href="">Interviews</a></span>
        <% unless @current_user %>
            <span><a href="/homes/login"> Sign up </a></span>
            <% else %>
                <div class="manager-user-name-div">
                    <button class="manager-user-name">
                        <%= @current_user.name if @current_user %>
                    </button>
                    <div class="logout-div">
                        <a href="/user/logout">Logout</a>
                    </div>
                </div>
                <% end %>
    </div>

</div>

<div style="margin-top: 10%;" class="applicants_form_div">
    <div class="image_tag">
        <%= image_tag('woman.png',class: "professional_image" ) %>
    </div>
    <form action="/applicants_details/<%= params[:id] %>" method="post" class="details_form">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
        <div class="application_details">
            <div class="white_div">

            </div>
            <div class="applicant_name_p">
                <!-- <p class="applicant_p">Applicant Name</p> -->
                <input type="text" name="applicants_details[applicant_name]" placeholder="Applicant_name" class="applicant_name_p_input" required>
            </div>
            <div class="applicant_mobile">
                <!-- <p class="applicant_mobile_number">Mobile Number</p> -->
                <input type="text" name="applicants_details[alternate_mobile]" placeholder="Alternate mobile number"
                   class="applicant_mobile_input" required>
            </div>
            <div class="applicant_address_div">
                <!-- <p class="applicant_address">Address</p> -->
                <input type="text" name="applicants_details[address]" placeholder="Address" class="applicant_address_input" required>
            </div>
            <div class="applicant_experience_div">
                <!-- <p class="applicant_experience">Experience</p> -->
                <input type="text" name="applicants_details[experience]" placeholder="Experience" class="applicant_experience_input" required>
            </div>
            <div class="applicant_education_div">
                <!-- <p class="applicant_education">Education</p> -->
                <input type="text" name="applicants_details[education]" placeholder="Education" class="applicant_education_input" required>
            </div>
            <!-- <div class="applicant_file_div"> -->
                <!-- <p class="applicant_file">Your Image</p> -->
                <!-- <input type="file" class="applicant_file_input">
            </div> -->
            <input type="submit" value="Submit" class="button_submit">
    
        </div>    </form>

    <!-- <%= @job.hiring_manager_name %> -->
</div>