<div class="job_details_heading">
    <h2>JOB DESCRIPTION</h2>
</div>
<div class="job_desc_line">
    <hr>
</div>
<div class="job_details">
    <div class="job_details_main_content_1">
    <div class="job_details_content">
        <span class="job_details_title">
            <h3>Job Title: </h3>
        </span>
        <span>
            <%= @job.job_title %>
        </span>
    </div>
    <div class="job_details_content">
        <span class="job_details_title">
            <h3>Company: </h3>
        </span>
        <span>
            <%= @job.company_name %>
        </span>
    </div>
    <div class="job_details_content">
        <span class="job_details_title">
            <h3>About Job: </h3>
        </span>
        <span>
            <%= @job.about_job %>
        </span>
    </div>
    <div class="job_details_content">
        <span class="job_details_title">
            <h3>Qualification: </h3>
        </span>
        <span>
            <%= @job.qualification %>
        </span>
    </div>
    <div class="job_details_content">
        <span class="job_details_title">
            <h3>Experience: </h3>
        </span>
        <span>
            <%= @job.eligibility %>
        </span>
    </div>
    </div>
    <div class="job_apply_button">
        <a href="">Apply</a>
    </div>


</div>

